@import "tailwindcss";
@plugin "tailwindcss-animate";

[data-slot="command-input-wrapper"] {
  border-bottom: none !important;
}

.CommandList {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: white; /* Màu nền xanh đậm giống topbar */
}

/* Thanh cuộn cho Webkit (Chrome, Safari) */
.CommandList::-webkit-scrollbar {
  width: 8px;
}

.CommandList::-webkit-scrollbar-track {
  background: #3B4371; /* Xanh đậm nhạt hơn */
  border-radius: 4px;
}

.CommandList::-webkit-scrollbar-thumb {
  background: #64748B; /* Xám xanh nhẹ */
  border-radius: 4px;
}

.CommandList::-webkit-scrollbar-thumb:hover {
  background: #9CA3AF; /* Sáng hơn khi hover */
}

/* Thanh cuộn cho Firefox */
.CommandList {
  scrollbar-width: thin;
  scrollbar-color: gray white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tùy chỉnh giao diện của react-datepicker */
.custom-calendar {
  @apply border border-gray-300 rounded-md font-sans w-full;
}

.custom-calendar .react-datepicker__header {
  @apply bg-blue-600 text-white border-b-0 p-4;
}

.custom-calendar .react-datepicker__current-month {
  @apply text-xl font-semibold;
}

.custom-calendar .react-datepicker__navigation--previous,
.custom-calendar .react-datepicker__navigation--next {
  @apply top-4;
}

.custom-calendar .react-datepicker__day-name {
  @apply text-blue-900 font-medium w-10 h-10 leading-10 text-base;
}

.custom-calendar .react-datepicker__day {
  @apply text-gray-700 w-10 h-10 leading-10 text-base;
}

.custom-calendar .react-datepicker__day:hover {
  @apply bg-blue-100 rounded-md;
}

.custom-calendar .react-datepicker__day--selected,
.custom-calendar .react-datepicker__day--keyboard-selected {
  @apply bg-blue-600 text-white rounded-md;
}

.custom-calendar .react-datepicker__day--outside-month {
  @apply text-gray-400;
}